body{
  margin:0;
  background:#041E42;
  font-family:Arial,sans-serif;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:40px;
}

.title{
  color:white;
  text-align:center;
  font-size:3rem;
}